<h1>Usuários</h1>

<% @users.in_groups_of(3, false).each do |group| %>
	<div class="row">
		<% group.each do |user| %>
			<div class="user-card">
			  	<%= link_to user, class: "card-link" do %>
				    <h3 class="card-title">
				    	<% if user.image.attached? %>
							<%= image_tag(user.image, class: "img-user") %>
						<% else %>
							<%= image_tag 'default-user.png', class: "img-user" %>
						<% end %>
				    	
				      	<%= user.username %>
				    </h3>
				<% end %>
			</div>
  		<% end %>
  	</div>
<% end %>